apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: calico
resources:
  - ./crds
  - ./calico-kube-controllers
  - ./calico-node
patches:
  - # Turn down metric collection interval for metrics we don't really watch
    # this is done to save money on metrics
    target:
      kind: PodMonitor
    patch: |
      - op: add
        path: /spec/podMetricsEndpoints/0/interval
        value: 1h
configMapGenerator:
  - name: calico-config
    options:
      disableNameSuffixHash: true
    literals:
      - # Typha is disabled.
        typha_service_name=none
      - # Configure the backend to use.
        calico_backend=vxlan
      - # Configure the MTU to use for workload interfaces and tunnels.
        # By default, MTU is auto-detected, and explicitly setting this field should not be required.
        # You can override auto-detection by providing a non-zero value.
        veth_mtu=0
      - # The CNI network configuration to install on each node. The special
        # values in this config will be automatically populated.
        |-
        cni_network_config={
            "name": "k8s-pod-network",
            "cniVersion": "0.3.1",
            "plugins": [
              {
                "type": "calico",
                "log_level": "info",
                "log_file_path": "/var/log/calico/cni/cni.log",
                "datastore_type": "kubernetes",
                "nodename": "__KUBERNETES_NODE_NAME__",
                "mtu": __CNI_MTU__,
                "ipam": {
                    "type": "calico-ipam"
                },
                "policy": {
                    "type": "k8s"
                },
                "kubernetes": {
                    "kubeconfig": "__KUBECONFIG_FILEPATH__"
                }
              },
              {
                "type": "portmap",
                "snat": true,
                "capabilities": {"portMappings": true}
              },
              {
                "type": "bandwidth",
                "capabilities": {"bandwidth": true}
              }
            ]
          }
